.dropdown {
  position: absolute;
  left: 0;

  width: min(1240px, 100%);
  padding-top: 54px;
  // display: none;

  &__inner {
    position: relative;
    padding: 30px;
    height: min(582px, 100vh - 158px);
    border-radius: 20px;
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

    &::before {
      content: url("../icons/dropdown-arrow.svg");
      position: absolute;
      top: -12px;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arrow-color);
    }
  }
}

.top-menu {
  --main-column-width: 292px;

  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;

  &__main {
    width: var(--main-column-width);
    height: 100%;
    border-right: 1px solid var(--top-menu-border-color);

     overflow-y: auto;
    scroll-behavior: smooth;
  
    // &::-webkit-scrollbar{
    //   display: none;
    // }
  }
}

.menu-column {
  display: flex;
  gap: 14px;
margin-top: 36px;
  &__content-title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 19px;
  }

  &__block > li:first-child .sub-menu  {
    display: block;
  }

  &__content-link {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42857;
    padding: 7px 0;
    display: block;
    
    &:hover {
      color: #0071dc;
      font-weight: 500;
    }

  }

  &__content-body {
    display: flex;
    margin-left: 30px;
     gap: 49px;
    white-space: nowrap;

    overflow-y: auto;
    scroll-behavior: smooth;
  
    // &::-webkit-scrollbar{
    //   display: none;
    // }
  }
}


.sub-menu {
 position: absolute;
 inset: 0 0 0 var(--main-column-width);
 margin-top: -36px;
 overflow-y: auto;
 scroll-padding-top: 36px;
 scroll-behavior: smooth;
 display: none;
}

