<div class="container">
  <div class="top-bar">
    <!-- More -->
    <button class="top-bar__more">
      <img
        src="../assets/icons/more.svg"
        alt=""
        class="icon top-bar__more-icon"
      />
    </button>

    <!-- Logo -->
    <a href="./" class="logo">
      <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>

    <!-- Navbar -->
    <nav class="navbar">
      <ul class="navbar__list js-dropdown-list">
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Departments
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
            />
          </a>
          <div class="dropdown">
            <div class="dropdown__inner">
              <div class="top-menu">
                <div class="top-menu__main">
                  <!-- Menu column -->
                  <div class="menu-column">
                    <div class="menu-column__icon">
                      <img
                        src="./assets/icons/menu-column/menu-column__icon-01.svg"
                        alt=""
                      />
                    </div>
                    <!-- Menu-column__content-main -->
                    <div class="menu-column__content">
                      <h2 class="menu-column__content-title">
                        All Departments
                      </h2>
                      <ul class="menu-column__block">
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Savings & Featured Shops
                          </a>
                          <div class="sub-menu">
                            <!-- Menu-column__content-body -->
                            <div class="menu-column__content-body">
                              <div class="menu-column__content-body-row">
                                <!-- Menu-column_content-img-01 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/menu-column/menu-column__icon-02.svg"
                                      alt=""
                                    />
                                  </div>
                                  <!-- Menu-column_content-body-01 -->
                                  <div class="menu-column__content">
                                    <h2 class="menu-column__content-title">
                                      TV & Video
                                    </h2>
                                    <ul class="menu-column__block">
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Shop all TVs
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          TVs by Size
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Smart TVs
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Roku TVs
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Streaming
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          TV Mounts & Accessories
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          DVD & Blu-Ray Players
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <!-- Menu-column_content-img-02 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/menu-column/menu-column__icon-03.svg"
                                      alt=""
                                    />
                                  </div>
                                  <!-- Menu-column_content-body-02 -->
                                  <div class="menu-column__content">
                                    <h2 class="menu-column__content-title">
                                      Wearable Technology
                                    </h2>
                                    <ul class="menu-column__block">
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Galaxy Watch
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Apple Watch
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Fitness Trackers
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Virtual Reality
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Headphones
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- Menu-column_content-img-03 -->
                              <div class="menu-column">
                                <div class="menu-column__icon">
                                  <img
                                    src="./assets/icons/menu-column/menu-column__icon-04.svg"
                                    alt=""
                                  />
                                </div>
                                <!-- Menu-column_content-body-03 -->
                                <div class="menu-column__content">
                                  <h2 class="menu-column__content-title">
                                    Computers
                                  </h2>
                                  <ul class="menu-column__block">
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Shop All Computers
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Laptops
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        PC Gaming
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Monitors
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Chromebook
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Printers & Ink
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Shop all TVs
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Computer Accessories
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Desktops
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Tax Software
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Computer Software
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        PC Finder
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <div class="menu-column__content__body-row">
                                <!-- Menu-column_content-img-04 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/menu-column/menu-column__icon-05.svg"
                                      alt=""
                                    />
                                  </div>
                                  <!-- Menu-column_content-body-04 -->
                                  <div class="menu-column__content">
                                    <h2 class="menu-column__content-title">
                                      Savings
                                    </h2>
                                    <ul class="menu-column__block">
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Tech Savings
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Overstock Savings
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Tech Rollbacks
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <!-- Menu-column_content-img-05 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/menu-column/menu-column__icon-06.svg"
                                      alt=""
                                    />
                                  </div>
                                  <!-- Menu-column_content-body-05 -->
                                  <div class="menu-column__content">
                                    <h2 class="menu-column__content-title">
                                      Wireless Deals
                                    </h2>
                                    <ul class="menu-column__block">
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          5G Phones
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Prepaid Phones & Plans
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Refurbished Phones
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          iPhone Accessories
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Cases & Screen Protectors
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Walmart Protection Plan
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Unlocked Phones
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Electronics
                          </a>
                          <div class="sub-menu">
                            <!-- Menu-column__content-body -->
                            <div class="menu-column__content-body">
                              <div class="menu-column__content__body-row">
                                <!-- Menu-column_content-img-04 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/menu-column/menu-column__icon-05.svg"
                                      alt=""
                                    />
                                  </div>
                                  <!-- Menu-column_content-body-04 -->
                                  <div class="menu-column__content">
                                    <h2 class="menu-column__content-title">
                                      Savings
                                    </h2>
                                    <ul class="menu-column__block">
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Tech Savings
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Overstock Savings
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Tech Rollbacks
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <!-- Menu-column_content-img-05 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/menu-column/menu-column__icon-06.svg"
                                      alt=""
                                    />
                                  </div>
                                  <!-- Menu-column_content-body-05 -->
                                  <div class="menu-column__content">
                                    <h2 class="menu-column__content-title">
                                      Wireless Deals
                                    </h2>
                                    <ul class="menu-column__block">
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          5G Phones
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Prepaid Phones & Plans
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Refurbished Phones
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          iPhone Accessories
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Cases & Screen Protectors
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Walmart Protection Plan
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Unlocked Phones
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <!-- Menu-column_content-img-03 -->
                              <div class="menu-column">
                                <div class="menu-column__icon">
                                  <img
                                    src="./assets/icons/menu-column/menu-column__icon-04.svg"
                                    alt=""
                                  />
                                </div>
                                <!-- Menu-column_content-body-03 -->
                                <div class="menu-column__content">
                                  <h2 class="menu-column__content-title">
                                    Computers
                                  </h2>
                                  <ul class="menu-column__block">
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Shop All Computers
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Laptops
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        PC Gaming
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Monitors
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Chromebook
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Printers & Ink
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Shop all TVs
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Computer Accessories
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Desktops
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Tax Software
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        Computer Software
                                      </a>
                                    </li>
                                    <li>
                                      <a
                                        href="#!"
                                        class="menu-column__content-link"
                                      >
                                        PC Finder
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="menu-column__content-body-row">
                                <!-- Menu-column_content-img-01 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/menu-column/menu-column__icon-01.svg"
                                      alt=""
                                    />
                                  </div>
                                  <!-- Menu-column_content-body-01 -->
                                  <div class="menu-column__content">
                                    <h2 class="menu-column__content-title">
                                      TV & Video
                                    </h2>
                                    <ul class="menu-column__block">
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Shop all TVs
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          TVs by Size
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Smart TVs
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Roku TVs
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Streaming
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          TV Mounts & Accessories
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          DVD & Blu-Ray Players
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <!-- Menu-column_content-img-02 -->
                                <div class="menu-column">
                                  <div class="menu-column__icon">
                                    <img
                                      src="./assets/icons/menu-column/menu-column__icon-03.svg"
                                      alt=""
                                    />
                                  </div>
                                  <!-- Menu-column_content-body-02 -->
                                  <div class="menu-column__content">
                                    <h2 class="menu-column__content-title">
                                      Wearable Technology
                                    </h2>
                                    <ul class="menu-column__block">
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Galaxy Watch
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Apple Watch
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Fitness Trackers
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Virtual Reality
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          href="#!"
                                          class="menu-column__content-link"
                                        >
                                          Headphones
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Clothing, Shoes & Accessories
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Home, Furniture & Appliances
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Toys & Video Games
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Home Improvement
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Baby
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Household Essentials
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Personal Care
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Patio & Garden
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Sports & Outdoors
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Gift Cards
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Auto, Tires and Industrial
                          </a>
                        </li>
                        <li>
                          <a href="#!" class="menu-column__content-link"
                            >Movies, Music & Books
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Grocery
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
            />
          </a>
          <div class="dropdown"></div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Beauty
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
            />
          </a>
          <div class="dropdown"></div>
        </li>
      </ul>
    </nav>
    <!-- Actions -->
    <div class="top-act">
      <div class="top-act__group top-act__group--single">
        <button class="top-act__btn">
          <img
            src="./assets/icons/search.svg"
            alt=""
            class="icon top-act__icon"
          />
        </button>
      </div>

      <div class="top-act__group">
        <button class="top-act__btn">
          <img
            src="./assets/icons/heart.svg"
            alt=""
            class="icon top-act__icon"
          />
          <span class="top-act__title">03</span>
        </button>

        <div class="top-act__separate"></div>

        <button class="top-act__btn">
          <img src="./assets/icons/buy.svg" alt="" class="icon top-act__icon" />
          <span class="top-act__title">$65.42</span>
        </button>
      </div>

      <div class="top-act__user">
        <img src="./assets/img/avatar.jpg" alt="" class="top-act__avatar" />
      </div>
    </div>
  </div>
</div>
